.main {
  display: flex;
  flex: 1;
  height: 100vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(199, 245, 229);
}
.title {
  color:rgb(77, 10, 139);
}